* {
    font-size: 20px;
    font-weight: 400;
}

table {
    width: 100%;
}

img {
    max-width: 100%;
}

#main {
    padding: 10px 20px;
}

#container {
    padding: 10px 50px;
    background-image: url(https://img.besthqwallpapers.com/Uploads/24-6-2020/136929/wood-planks-texture-planks-background-wood-texture-boards-texture-vertical-planks.jpg);
    background-attachment: fixed;
    background-size:cover;
}

#shop {
    display: flex; 
}

#catalog {
    flex: 1;
    text-align: center;
    
}

#cart {
    flex: 1;
    text-align: center;
}

#cart_block {
    text-align: center;
    margin: 10px 50px;
}

#cart_img {
    max-width: 50%;

}

#cart_list {
    background-color: rgba(255, 255, 255, 0.644);
}

.cart_item {
    transition: 0.5s;
}

#total_cart_price {
    background-color: rgba(255, 255, 255, 0.582);
}

#empty {
    background-color: rgba(255, 255, 255, 0.582);
    margin: 10px 50px;

}

.item_img {
    background-color: rgba(255, 255, 255, 0);
}

.main_img {
    max-height: 300px;
}

.img_container {
    display: flex;
    text-align: center;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.small_img {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
    margin-top: 40px;
    display: block;
    transition: 0.5s;
}

.small_img:hover {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid white;
}

.item_type {
    text-decoration: underline;
}


.item_card {
    border-radius: 5px;
    border: 10px solid rgba(0, 0, 0, 0.431);
    text-align: center;
    padding: 20px 100px;    
    background-color: rgba(255, 255, 255, 0.582);
    margin: 50px;
}

.price_with_discount {
    text-decoration: line-through;
}

.discount {
    display: inline-block;
    margin-left: 10px;
    color: red;

}



